<div>
	<a ui-sref="admin-overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2>Profile</h2>
	<!--<span class="glyphicon glyphicon-dashboard bg-fade"></span>-->
	<div class="jumbotron">
		       
            <div class="container" style="max-width:600px;padding:40px 20px;">
                <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="name" class ="control-label col-sm-3">First name</label>
                    <div class="col-sm-8">
                        <p ng-hide="isEdit">Prashanth</p>
                        <input ng-show="isEdit" type="name" class="form-control" id="name" placeholder="Enter name">
                    </div>
                    </div>
                <div class="form-group">
                    <label for="address" class ="control-label col-sm-3">Last name</label>
                    <div class="col-sm-8">
                    <p ng-hide="isEdit">Narsimhamurthy</p>
                    <input ng-show="isEdit" type="address" class="form-control" id="address" placeholder="Enter address">
                    </div>
                    </div>
                <div class="form-group">
                    <label for="email" class ="control-label col-sm-3">Email</label>
                    <div class="col-sm-8">
                    <p ng-hide="isEdit">prashanth.narsimhamurthy@emids.com</p>
                    <input ng-show="isEdit" type="email" class="form-control" id="email" placeholder="Enter email">
                    </div>
                    </div>
                <div class="form-group">
                    <label for="pwd" class ="control-label col-sm-3">Password</label>
                    <div class="col-sm-8">
                        <p ng-hide="isEdit">*******</p>
                    <input ng-show="isEdit" type="password" class="form-control" id="pwd" placeholder="Enter password">
                    </div>
                    </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary" ng-click="isEdit==true">Update Profile</button>
                </div>
               
                </form>
            </div>

	</div>
</div>